@media(max-width:1300px){
    .product__more{
        margin-top: 60px;
    }
}

@media(max-width:1200px) {
    .banner-section__slider-img{
        max-width: 600px;
        min-height:380px;
    }
    .banner-section__inner{
       
        justify-content: space-around;
    }
    .banner-section__slider{
        max-width: 600px;
      
    }
    .categories__inner{
        justify-content: space-around;
    }
    .banner-link img{
        width: 100%;
    }
    .catalog__inner-list{
        justify-content: space-around;
    }
}
@media (max-width:1100px){
    .menu__list-item + .menu__list-item {
        padding-left: 20px;
    }
    .header__adress {
        margin-right: 20px;}
    .product-card__buttons a + a {
        margin-left: 30px;
    }
    .card__input-search {
        margin-right: 0;
    }
}
@media (max-width:968px){
    .header__bottom{
        display: none;
    }
    .menu__list{
        display: none;
    }
    .menu__btn{
        display: block;
        width: 34px;
        height: 27px;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        position: relative;
        cursor: pointer;
    }
    .menu__btn::after{
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width:34px ;
        height: 3px;
        background-color: #2F3035;
        box-shadow: 0 12px 0 0px #2F3035, 0 24px 0 0px #2F3035;
    }
    .menu-mobile__linewrapper{
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        font-family:"SFProDisplay-Bold", sans-serif;
        background: #F0F0F4;
        overflow-x: scroll;
    }
    .menu-mobile__line{
        padding: 14px 0px 14px 15px;
        width: 450px;
    }
    .banner-section__inner{
        margin-top: 25px;
         
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-section__slider{
        max-width: 100%;
    }
    .banner-section__slider-item{
        text-align: center;
    }
    .banner-section__slider-img{
        max-width: 100%;
        margin-bottom: 25px;
    }
    .mobile-wrapper{
        width: 1000px;
    }
    .tabs-wrapper,.breadcrumbs__inner,.catalog__filter-itemsinner{
        overflow-x: scroll;
    }
    .tabs-wrapper.tabs-wrapper--no-scroll{
        overflow-x: hidden;
    }
    .footer__top-inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__top-item{
        margin-bottom: 25px;
    }
    .catalog__filter-btn button{
        display: none;
    }
    .product-card__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-card__tabs{
        display: none;
    }
    .product-card__content{
        order: -1;
    }
    .product-card__btn-buy--mobile{
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    .product-card__img-box img{
        width: 100%;
    }
 
}

@media (max-width: 940px){
    .catalog__filter-btn{
        margin-top: 30px;
    }
    .catalog__filter {
       display: block
    }
    .card__tab-box {
        flex-direction: column;
        
        align-items: center;
        padding: 22px 0;
        background-color: #F0F0F4;
        margin-bottom: 50px;
    }
    .card__top-line label{
        display: block;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .card__tab-box a+a {
        margin-top: 30px;
    }
    .card__list-item{
        display: block;
    }
    .card__list-item div{
        margin-bottom: 15px;
    }
    .card__list-itemtitle{
        display: none;
    }
    .card__input-search{
        margin-top: 10px;
    }
    .card__label-search{
        font-size: 15px;
        line-height: 18px;
        color: #2F3035;
        
    }
}
 
 

@media (max-width: 640px) {
    .header__adress{
        display: none;
    }
    .banner-section__slider-img{
        min-height: 200px;
    }
    .banner-section .container{
        padding: 0;
    }
    .search__content-btn{
        background-image: url('../images/search-icon.svg');
        width: 24px;
        height: 24px;
        font-size: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 17px;
        position: absolute;
        right: 8px;
        top: 13px;
    }
    .search__content-input {
        height: 50px;
        padding-right: 50px;
    }
    .search__content-form{
        position: relative;
    }
    .catalog__inner{
        flex-wrap: wrap;
    }
    .aside__btn{
        display: block;
        text-transform: uppercase;
        font-family:"SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        text-align: center;
        width: 100%;
        padding: 15px 0;
        color: #fff;
        margin-bottom: 30px;
        background-color:#1C62CD;
    }
        .aside-filter{
            display: none;
        }
        .product-card__title{
        font-size: 20px;
        line-height: 24px;
        }
        .product-card__buttons a + a {
            margin-left: 15px;
        }
}
@media (max-width: 540px) {
    .footer__top-item{
        width: 100%;
        border-bottom: 2px solid #f9f9fc;
    }
    .footer__bottom{
        flex-direction: column;
        align-items: flex-start;

    }
    .footer__bottom-link{
        margin: 12px 0;
    }
    .footer__top-inner{
        justify-content: flex-start;
    }
    .footer__top-item.footer__top-social {
        width: 100%;
        border: none;
        margin-top: 20px;
    }
    .social-list{
        justify-content: center;
    }
    .footer__top-newslatter.footer__top-item {
        width: 290px;
        text-align: center;
        margin:  0 auto;
        margin-bottom: 30px;
    }
    .footer-list{
        display: none;
    }
  
    .footer__top-itemdrop{
        margin-bottom: 0px;
        border-top: 2px solid #f9f9fc;
    }
    .footer__top-title.footer__topdrop{
        font-size: 14px;
        line-height: 18px;
        color: #7F7F7F;
        padding: 15px 0;
    }
    .footer__topdrop{
        position: relative;
    }
    .footer__topdrop::after{
        position: absolute;
        content: "";
        background-image: url('../images/arrow-down.svg');
        width: 12px;
        height: 8px;
        bottom: 19px;
        right: 0;
        transform: rotate(0deg);
        transition: all .3s;
    }
    .footer__topdrop--active::after{
        transform: rotate(180deg);
    }
    .footer__topdrop{
        pointer-events: auto;
    }
}
@media (max-width: 440px) {
 
    .banner-section__slider-img{
        min-height: 164px;
    }
    .pagination-list__item{
        margin: 0;
    }
    .card__input-search {
        margin-left: 0px;
    }
}